.block {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bacColor);
  border: 0px solid var(--borColor);
  opacity: 1;
}

textarea {
  width: 70%;
  height: 50%;
  resize: none;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  border: none;
}